{% extends 'base.html' %}
{% block title %}{{ post.tag }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<p> By: {{ post.author.first_name }} {{ post.author.last_name }}</p> <br>
{{post.created_on}}
<p>{{ post.content|safe }}</p> <br>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'update-post' post.pk %}">Edit</a>
<a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}
{% endif %}
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-warning">Unlike</button>
              
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary">Like</button> 
    {% endif %}
{% else %}
<small>Sign in to Like</small>
{% endif %}
   
    
    {{ total_likes }} Likes
</form>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
          <p class="card-text">{{post.author.userprofile.bio}}</p>
          <p class="card-text">
            <a href="{% url 'show_profile_page' post.author.userprofile.id %}">Profile Page</a>
                {% if post.author.userprofile.facebook_url %}
              <a href="{{post.author.userprofile.facebook_url}}"><i class="fab fa-facebook"></i></a> 
                {% endif %}
                {% if post.author.userprofile.instagram_url %}
              <a href="{{post.author.userprofile.instagram_url}}"><i class="fab fa-instagram-square"></i></a>
                {% endif %}
                {% if post.author.userprofile.twitter_url %}
              <a href="{{post.author.userprofile.twitter_url}}"><i class="fab fa-twitter-square"></i></a>
                {% endif %}
                {% if post.author.userprofile.pinterest_url %}
              <a href="{{post.author.userprofile.pinterest_url}}"><i class="fab fa-pinterest-square"></i></a>
                {% endif %}
            </p>
        </div>
      </div>
    </div>
  </div>





{% endblock %}