{% extends 'base.html' %}
{% block content %}


{% if category_posts %}
<h1> Categories</h1>
{{ cat }}
{% for post in category_posts %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }} <br> <small> {{ post.category }} {{post.created_on}} <br> {{ post.author }} <br> </small></h5>
      <p class="card-text">{{ post.author.first_name }} {{ post.author.last_name }} <br> {{ post.content|slice:":100" }} 
      </p>
      <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">View Post</a>
      {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
      <a href="{% url 'update-post' post.pk %}">Edit</a>
      <a href="{% url 'delete_post' post.pk %}">Delete</a>
      {% endif %}
      {% endif %}
      
    </div>
  </div>
{% endfor %}
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
{% else %}
<h1>No Posts Under This Category Yet</h1>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
{% endif %}

{% endblock %}