{% extends 'base.html' %}
{% load static %}
{% block content %}



<h1> User Profile</h1>
{{ page_user }}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
          <p class="card-text">{{page_user.bio}}</p>
          <p class="card-text">
                {% if page_user.facebook_url %}
              <a href="{{page_user.facebook_url}}"><i class="fab fa-facebook"></i></a> 
                {% endif %}
                {% if page_user.instagram_url %}
              <a href="{{page_user.instagram_url}}"><i class="fab fa-instagram-square"></i></a>
                {% endif %}
                {% if page_user.twitter_url %}
              <a href="{{page_user.twitter_url}}"><i class="fab fa-twitter-square"></i></a>
                {% endif %}
                {% if page_user.pinterest_url %}
              <a href="{{page_user.pinterest_url}}"><i class="fab fa-pinterest-square"></i></a>
                {% endif %}
            </p>
        </div>
      </div>
    </div>
  </div>




{% endblock %}